<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do app</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
    <h1>To Do List</h1>
    {{ if .}}
    <div class="table">
        <div class="row heading">
        <div class="cell leftAlign">Task</div>
        <div class="cell">Status</div>
        <div class="cell">Change</div>
        <div class="cell">Delete</div>
        </div>
        {{range $id, $task := .}}
        <div class="row">
        <div class="cell leftAlign">{{$task.Name}}</div>
        <div class="cell">{{$task.Status.String}}</div>
        <div class="cell"><a class="editLink" href="/edit?id={{$id}}">Edit</a></div>
        <div class="cell"><a class="deleteLink" href="/delete?id={{$id}}">🗑</a></div>
        </div>
        {{end}}
    </div>
    {{end}}
    <br/>
    <a href="/task">Add a new task</a>

 
</body>
</html>